@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global colors */
:root {
    --primary0: #fcf8ed;
    --primary50: #e0dbc8;
    --primary80: #a29a87;

    --neutral: #565855;
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

:root {
    --text: var(--neutral);

    --background: var(--primary0);

    --surface: var(--primary50);

    --border: var(--neutral);
}

body {
    background: linear-gradient(
        to bottom right,
        var(--primary0) 0%,
        var(--primary0) 30%,
        var(--primary50) 45%,
        var(--primary50) 65%,
        var(--primary80) 90%,
        var(--primary80) 100%
    );
}
